.project-head-text h1{
  font-size: 35px;
}

.project-head-logo img {
  max-height: 60px;
}

.project-desc {
  line-height: 200%;
  margin-bottom: 50px;
}

.project-chips {
  display: flex;
  column-gap: 15px;
  margin-left: 1px;
}

.project-chips p.vis {
  outline: 1px solid #0b0b0b;
  padding: 4px 16px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.project-chips p.invis {
  display: none;
}

.project-head-wrapper {
  display: flex;
  column-gap: 50px;
  row-gap: 15px;
  justify-items: end;
  align-items: end;
  flex-wrap: wrap;
}

/*project columns*/
.project-head-columns {
  /*display: flex;
  column-gap: 50px;
  row-gap: 15px;
  justify-items: start;
  flex-wrap: wrap;*/
}

.project-col h2 {
  font-size: 14px;
  text-transform: uppercase;
  color: #F1AC2B;
}

.project-col p {
  font-size: 12px;
  line-height: 200%;
}

.project-col {
  max-width: 280px;
}

.project-prob-sol {
  display: flex;
  column-gap: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
  row-gap: 15px;
}

.project-sec {
  max-width: 450px;
}

.project-prob-sol h3 {
  font-size: 14px;
}

.project-prob-sol p {
  line-height: 180%;
  font-size: 12px;
}

p {
  line-height: 200%; 
  max-width: 700px;
}

/*darkmode*/
.project-head.darkmode .project-chips p.vis {
  outline: 1px solid #fefefe;
}
