nav {
  height: 50px;
  padding-top: 20px;
  top: 0;
  margin-left: -16vw;
  /*padding-left: 10vw;*/
  background-color: #fefefe;
  position: fixed;
  z-index: 100;
  width: 100vw;
}

nav.darkmode {
  background-color: #0b0b0b;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 15vw;
}

nav ul li {
  float: left;
}

nav ul li::marker {
  content: none;
}

.nav-right {
  float: right;
  width: 52%;

}

.nav-icon {
  display: none;
}

nav ul li a {
  display: block;
  color: #0b0b0b;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
}

nav ul li a.darkmode {
  color: #fefefe;
}

.nav-logo {
  width: 50%;
}

.nav-logo img {
  height: 18px;
  width: auto;
  float: left;
  margin-top: -28px;
}

.nav-btn button {
  background: none;
  border: none;
  margin-top:-6px;
  margin-left: 10px;
}

.nav-item {
  margin-top: 5px;
}

.nav-item:hover {
  opacity: 0.3;
}

.nav-item.active a {
  color: #F1AC2B;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 975px) {
  .nav-icon {
    display: block;
    float: right;
    margin-right: 25vw;
  }

  #closeic:hover, #menuic:hover {
    opacity: 0.5;
  }

  #menuic.invisible {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .nav-mobile.invisible {
    transform: translateX(50vw);
    transition: all 0.3s ease-in-out;
  }

  .nav-mobile {
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(241, 172, 43, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0vw);
    transition: all 0.3s ease-in-out;
  }

  .nav-icon-mobile {
    position: fixed;
    top: 30px;
    right: 13vw;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .nav-links-mobile a {
    text-decoration: none;
    color:#0b0b0b;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
  }

  .nav-links-mobile a:hover {
    opacity: 0.5;
  }

  .nav-links-mobile a.active {
    color: white;
  }

  .nav-logo img {
    width: 280px;
  }
}