nav {
  height: 70px;
  top: 0;
  background-color: var(--white);
  opacity: 98%;
  position: fixed;
  z-index: 100;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  border-bottom: 1px solid var(--secondary);
}


.nav-left {
  width: 100%;
  padding-top: 6px;
}

.nav-left p a {
  font-size: 24px;
  /*font-family: 'Homemade Apple', sans-serif;*/
}

.nav-right {
  display: flex;
  gap: 40px;
  align-items: center;
}

nav ul {
  list-style-type: none !important;
}

nav a:visited, nav a {
  text-decoration:none;
}

.nav-mobile, .nav-mobile-menu {
  display: none;
}

/*darkmode*/
nav.darkmode {
  background-color: var(--black);
  color: var(--white);
  border-bottom-color: var(--secondary-hover-dark);
}

nav.darkmode .nav-left p a {
  color: var(--white);
}

@media screen and (max-width: 975px) {
    nav {
      width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    }

    .nav-mobile-menu.invisible {
      display: none;
    }

    .nav-mobile-menu {
      display: block;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .nav-right, .nav-mobile.invisible {
      display: none;
    }

    .nav-mobile {
      display: block;
    }

    .nav-icon-mobile {
      position: fixed;
      right: 32px;
      bottom: 32px;
      z-index: 100;
    }

    .nav-links-mobile {
      height: 100vh;
      width: 100vw;
      position: fixed;
      left: 0;
      top: 0;
      background: var(--white);
    }

    nav.darkmode .nav-links-mobile {
      background: var(--black);
    }

    .nav-links-mobile .nav-items {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      justify-content: center;
    }

    .nav-links-mobile .nav-items a {
      font-size: 24px;
    }
}