.project_sec p {
  line-height: 180%;
}

.project_sec {
  margin-top: 80px;
}

.project_img_big {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.project_img_big img, .project_img_big video {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


@media only screen and (max-width: 800px) {
  .project_in img  {
    width: 100%;
  }
}