.project_in_txt {
  width: 100%;
  display: flex;
  column-gap: 100px;
}

.project_in_txt .project_text{
  width: 150%;
}

.project_text h3, .project_text p {
  max-width: 100% !important;
}

.project_sec_blue {
  background-color: #0D3B8B;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.project_sec_blue h3 {
  color: white !important;
  font-size: 48px;
}

.project_sec_inner {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.project_sec p {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 24px;
}

.project_sec h4 {
  margin: 0;
  margin-top: 32px;
  font-weight: 500;
}

.project_sec .quote {
  color: var(--primary);
  font-style:italic;
}

.results {
  display: flex;
  gap: 16px;
}

.result-number {
  background: var(--secondary);
  padding: 8px;
  border-radius: 8px;
}

body.darkmode .result-number {
  background: var(--secondary-dark);
}

.result-number h4 {
  color: var(--primary);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.result-number p {
  margin: 0;
  line-height: 140%;
  font-size: 12px;
}

.button-project-btm {
  margin-top: 24px;
}


@media screen and (max-width: 530px) {
  .results {
    flex-direction: column;
    gap: 8px;
  }
}