.project_sec h3 {
  font-size: 25px;
}

.project_sec p {
  line-height: 150%;
}

.project_sec {
  margin-top: 80px;
}

.project_img_big {
  margin-top: 50px;
  margin-bottom: 50px;
}

.project_in {
  margin-top: 35px;
  margin-bottom: 35px;
}
