.project_sec h3 {
  font-size: 38px;
}

.project_sec p {
  line-height: 180%;
  font-weight: 500;
  max-width: 60%;
  margin-bottom:50px;
}

.project_sec {
  margin-top: 80px;
  width: 100%;
  margin: 20px -15vw;
  padding: 40px 15vw;
}

.project_sec_alt {
  background-color: var(--lightbase);
  width: 100%;
}

.project_img_big {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.project_img_big img, .project_img_big video {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.project_in {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}

.project_in img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .project_sec p {
    max-width: 100%;
  }
  .project_in {
    flex-wrap: wrap;
    row-gap:10px;
  }
  .project_in img  {
    width: 100%;
  }

  .project_sec {
    margin-left: -25vw;
    padding-left: 25vw;
    padding-right: 5vw;
  }
}