.logo-card{
    width: 220px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--secondary-hover);
    background: var(--white);
    text-align: center;
}

.logo-card p {
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    margin-top: -8px;
}

.logo-card img {
    width: 80%;
    filter:grayscale();
    transition: all 150ms ease-in-out;
}

.logo-card:hover img {
    filter: none;
    transition: all 150ms ease-in-out;
}