.visual-div {
  width: 32%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.visual-div-hor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  text-align: center;
}

.visual-div-vert img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  text-align: center;
}

.fullmode.vis p, .fullmode-light.vis p {
  margin-left: 20px;
  font-weight: 600;
  color: white;
}

.fullmode-light, .fullmode {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(11, 11, 11, 0.7); /*rgba(254, 254, 254, 0.8);*/
  width: 100%;
  height: 100%;
  display: none;
  transition: all 0.3s ease-in-out;
  z-index: 200;
}

/*.fullmode {
  background-color: rgba(254, 254, 254, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: all 0.3s ease-in-out;
}*/

.fullmode img, .fullmode-light img {
  max-width: 85%;
  max-height: 85%;
  margin-top: 30px;
}

.fullmode.vis, .fullmode-light.vis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  z-index: 200;
}

@media screen and (max-width: 800px) {

  .visual-div {
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

}