.visual-div {
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual-div-hor img {
  width: 100%;
  text-align: center;
}

.visual-div-vert img {
  height: 100%;
  text-align: center;
}

/*.visual-div:hover img {
  width: 80%;
  align-content: center;
  justify-items: center;
}

.visual-div:hover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  background-color: black;
  opacity: 0.8;
}*/