.project-tab {
  /*width: 530px;*/
  width: 47.5%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  padding: 8x;
  border: 1px solid var(--secondary-hover);
  background: var(--white);
  box-shadow: 4px 4px 15px 0px rgba(129,152,147,0.1);
  transition: all 150ms ease-in-out;
  position: relative;
}
.chips {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
  gap: 8px;
  color: var(--secondary-hover);
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.chips p {
  margin: 0;
  padding: 0;
  color: var(--gray-darkmode) !important;
}

.project-desc {
  margin: 0 !important;
  padding: 0;
  height: 100%;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 150% !important;
}

.project-tab:hover{
  background: var(--secondary);
}

.project-tab img {
  transition: all 150ms ease-in-out;
}

.project-tab:hover img {
  opacity: 0.8;
  transition: all 150ms ease-in-out;
}

.project-link {
  color: var(--primary);
  margin: 0 !important;
}

.project-tab h3 {
  line-height: 130%;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.project-tab a {
  height: 0;
  text-decoration: none;
}

.project-cover img {
  width: 100%;
}

.project-desc {
  margin-bottom: 24px !important;
}

.project-info {
  padding: 16px;
  margin: 0px;
  line-height: 100%;
}

/*darkmode*/
.project-tab.darkmode {
  background-color: var(--black);
  border: 1px solid var(--secondary-dark);
  box-shadow: none;
}

.project-tab.darkmode .project-link {
  color: var(--primary);
}

.project-tab.darkmode .project-desc, .project-tab.darkmode .chips p{
  color: var(--gray-darkmode);
}

.project-tab.darkmode:hover {
  background: var(--linear-up-dark);
}


@media screen and (max-width: 530px) {
  .project-tab {
    width: 100%;
  }

}