.testimonial-tab {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--secondary-hover);
  background: var(--white);
  box-shadow: 4px 4px 15px 0px rgba(129,152,147,0.1);
}

.testimonial-tab .author {
  display: flex;
  align-items: center;
}

.testimonial-tab .author-info h4, .testimonial-tab .author-info p{
  margin: 0;
  font-weight: 500;
}

.testimonial-tab .quote p {
  font-size: 18px;
  line-height: 180%;
  color: var(--black);
  font-weight: 400;
  margin: 0;
  margin-top: 16px;
}

.testimonial-tab .author img {
  width:52px;
  height: 52px;
  border-radius: 100px;
  margin-right: 16px;
}

/*darkmode*/
.testimonial-tab.darkmode {
  background: var(--black);
  border: 1px solid var(--secondary-dark);
  box-shadow: none; 
}

.testimonial-tab.darkmode .quote p{
  color: var(--white);
}


@media screen and (max-width: 530px) {
  .testimonial-tab {
    width: 100%;
  }
}